@charset 'UTF-8';
@import 'mixins';

$slideHeight: 600px;
$slideWidth: 900px;

html, 
body {
  height: 100%;
}

body {
  background: #120d0b;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.slider {
	margin: 0 auto;
	width: 100% !important;
  height: 100% !important;
	position: relative;
  perspective: 1000px;
  max-height: 100%;
  max-width: 100%;
  will-change: transform;

  &:not(.zoom) {
    .item {
      transition: all 900ms ease-in-out, opacity 400ms linear 0ms;
      opacity: 0;

      &.active {
        width: 100% !important;
        height: 100% !important;
        line-height: 100%;
        position: relative;
        display: flex;
        opacity: 1;
        pointer-events: all;

        span {
          top: 0;
          transform: scale(1);
        }

        .btn {
          transform: scale(1);
          height: 44px;

          span {
            top: 16px;
          }
        }
      }

      &.item1 {
        transform: rotateY(0deg) translateZ(0);
      }

      &.item2 {
        transform: rotateY(120deg) translateZ(0);
      }

      &.item3 {
        transform: rotateY(240deg) translateZ(0);
      }    
    }
  }

  &.zoom {
    .item {
      transition: all 900ms ease-in-out, opacity 300ms linear 500ms;
      opacity: 0.5;
    }
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 900ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
	position: absolute;
  width: 39%;
  height: 50%;
  line-height: 50%;
	color: #fff;
	background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  transition: all 900ms ease-in-out;
  transform-origin: center;
  pointer-events: none;
  will-change: transform;
  
  &.item1 {
    transform: rotateY(0deg) translateZ(500px);
    background-position: 50% 0%;

    &.active {
      transform: rotateY(0deg) translateZ(250px);
      opacity: 1;
    }
  }

  &.item2 {
    transform: rotateY(120deg) translateZ(500px);

    &.active {
      transform: rotateY(120deg) translateZ(250px);
      opacity: 1;
    }
  }

  &.item3 {
    transform: rotateY(240deg) translateZ(550px);

    &.active {
      transform: rotateY(240deg) translateZ(250px);
      opacity: 1;
    }
  }

  &__info {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    will-change: transform;
  }

  &__year {
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 35px;
    overflow: hidden;
    line-height: 30px;
    will-change: transform;

    span {
      position: relative;
      top: 27px;
      transition: all 900ms linear;
      display: inline-block;
      transform: scale(0.7);
      white-space: nowrap;
      will-change: transform;
    }
  }

  &__name {
    font-size: 55px;
    letter-spacing: 3px;
    margin-bottom: 62px;
    overflow: hidden;
    line-height: 55px;
    will-change: transform;

    span {
      position: relative;
      top: 48px;
      transition: all 900ms ease-in-out;
      display: inline-block;
      transform: scale(0.7);
      white-space: nowrap;
      will-change: transform;
    }
  }
}

.btn {
  background: #fff;
  color: #120d0b;
  padding: 0 33px;
  text-decoration: none;
  display: inline-block;
  transform: scale(0.7);
  height: 0;
  position: relative;
  overflow: hidden;
  transition: all 900ms ease-in-out;
  will-change: transform;

  span {
    position: relative;
    top: 16px;
    will-change: transform;
  }
}
  
.arrow {
	background: #8e2037;
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
	cursor: pointer;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: all .1s ease-in-out;
  transform-origin: 50% 50%;
  will-change: transform;

  &:hover {
    transform: translateY(-50%) scale(1.1)
  }

  &.arrow-next {
    right: 5em;
    background: url('../img/arrow-right.svg') no-repeat center #8e2037;
    background-size: 38px !important;
  }

  &.arrow-prev {
    left: 5em;
    background: url('../img/arrow-left.svg') no-repeat center #8e2037;
    background-size: 38px !important;
  }
}

@media (min-width: 1400px) {
  .slider {
    max-height: 700px;
    max-width: 1500px;
  }

  .arrow-next {
    right: -110px !important;
  }

  .arrow-prev {
    left: -110px !important;
  }
}